<appSettings>
  <add key="myConnectionString" value="server=srv-sql-old-01.domain.com;database=myDb;uid=myUser;password=myPass;" />
  <add key="myConnectionString" value="server=srv-sql-old-02.domain.com;database=myDb;uid=myUser;password=myPass;" />
  <add key="myConnectionString" value="server=srv-sql-old-03.domain.com;database=myDb;uid=myUser;password=myPass;" />
  <add key="myConnectionString" value="server=srv-sql-old-04.domain.com;database=myDb;uid=myUser;password=myPass;" />
  <add key="myConnectionString" value="192.168.1.234;database=myDb;uid=myUser;password=myPass;" />
</appSettings>
